<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{!-- <h1>About Page (about.html)</h1> --}}
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/express.png">
    </div>
    {{!-- <p>Created By : {{name}}</p> --}}
    {{>footer}}
</body>

</html>